<article class="entry">
    <div class="entry-img">
      <!-- <%=blog.image%> -->
      <img src="https://drive.google.com/thumbnail?id=1dQvx5_5jdgk6meGgiJJChnFjikoljY_t" alt=<%=blog.title%> class="img-fluid">
    </div>
    <h2 class="entry-title">
      <a href='/blogs/<%=blog.blogid%>' class="blog-title"><%=blog.title%></a>
    </h2>
    <div class="entry-meta">
      <ul>
        <li class="d-flex align-items-center" >
          <i class="fas fa-user-alt" style="font-size: 30px;color:orangered;padding-right: 10px;"></i>
          <span class="blog-author"><%=blog.author%></span>
        </li>
        <li class="d-flex align-items-center"><i class="fas fa-clock"style="font-size: 30px;color:orangered;padding-right: 10px;"></i>
          <span class="publishDate"><%=blog.date%></span>
      </li>
        <li class="d-flex align-items-center"><i class="fas fa-comment-dots"style="font-size: 30px;color:orangered;padding-right: 10px;"></i><%=blog.comments.length%> Comments</li>
      </ul>
    </div>
    <div class="entry-content">
      <p><%=blog.about%></p>
      <div class="read-more">
        <a href='/blogs/<%=blog.blogid%>'>Read More</a>
      </div>
    </div>
  </article>